# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
bin
obj

# Misc
.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase
firestore-debug.log
ui-debug.log

# IDEs
.vscode
.idea
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
